body{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	background-color:#e9e9e9;
	padding:0;
	margin:0
}

		.w-full{
			width: 100%;
			transition: ease-in-out .2s;
		}
		.w-1{
			width: 10%;
			transition: ease-in-out .2s;
		}
		.w-2{
			width: 20%;
			transition: ease-in-out .2s;
		}
		.w-3{
			width: 30%;
			transition: ease-in-out .2s;
		}
		.w-4{
			width: 40%;
			transition: ease-in-out .2s;
		}
		.w-5{
			width: 50%;
			transition: ease-in-out .2s;
		}
		.w-6{
			width: 60%;
			transition: ease-in-out .2s;
		}
		.w-7{
			width: 70%;
			transition: ease-in-out .2s;
		}
		.w-8{
			width: 80%;
			transition: ease-in-out .2s;
		}
		.w-9{
			width: 90%;
			transition: ease-in-out .2s;
		}
		.resit-table th, .resit-table td{
			font-size: 14px;
			border: 1px solid black;
		}
		.resit-table th{
			background: #EEE;
			padding: 6px 7px;		
		}
		.resit-table td{
			padding: 3px 10px;
		}
		.resit-modal{
			top:10%;
			left: 0;
			right: 0;
			margin: auto;
			position: absolute;
			position: fixed;
			z-index: 1002;
		}
		.resit-modal-lg{
			width: 80%;
		}
		.resit-modal-md{
			width: 60%;
		}
		.resit-modal-sm{
			width: 40%;
		}
		.resit-modal .resit-modal-header{
			font-size: 20px;
			padding: 10px 20px;
			border-bottom: 1px solid #e2e2e2;
		}
		.resit-modal .resit-modal-body{
			font-size: 15px;
			padding: 20px 36px;	
			height: 100%;
		}
		.resit-modal .resit-modal-footer{
			font-size: 20px;
			padding: 10px 20px;
			border-top: 1px solid #e2e2e2;
		}
		#resit_background_modal_show{
			opacity:.80;
			position: absolute;
			display: none;
			position: fixed;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: #000;
			z-index:1001;
			opacity: 0.6;
		}
		.resit-bg-white{
			background-color: #FFF;
		}
		.resit-radius-1{
			border-radius: 10px;
		}
		.resit-radius-2{
			border-radius: 20px;
		}
		.resit-radius-3{
			border-radius: 30px;
		}
		.resit-input{
			padding: 5px 10px;
		}
		.resit-tombol{
			margin: 1px;
			padding: 6px 20px;
			font-size: 14px;
			display:inline-block;
			text-align:center;
			border-radius: 5px;
			outline: none;
			border: none;
			text-decoration: none;
			color: #FFF;
			cursor: pointer;
			transition: ease-in-out .2s;
		}
		.resit-tombol:hover, .resit-tombol:active{
			box-shadow: .7px .7px 4px rgba(1,1,1,0.3);
			border: 1px solid #DDD;
			transition: ease-in-out .2s;
		}
		.resit-tombol-merah{
			background-color: #d9534f;
			border: 1px solid #b02420;
		}
		.resit-tombol-biru{
			background-color: #00aaff;
			border: 1px solid #1b95d2;
		}
		.resit-tombol-hijau{
			background-color: #41b314;
			border: 1px solid #3b9916;
		}
		.resit-center{
			text-align: center;
		}